body {
  font-family     : "Times New Roman", Times, serif;
}


a {
  font-size: 120%;
}

div#welcome a {
  display: inline-block;
  margin : 0 0 5% 0;
}

ul {
  list-style-type: none;
}

div.foot_links {
  margin: 0 0 5% 0;
}
