<html>
<head>
  <title>How to Life!?</title>
</head>

<body>
  <div id="header">
    <header><h1>How to Life!?</h1></header>
  </div>

  <div id ="welcome">
    <h2>Welcome!</h2>
      <p>How to Life!? is a short multiple choice game.</p>

      <p>You will be presented with a series of situations, each of which
      will contain a question of a moral nature. Answers will be multiple
      choice and each answer will be worth a set amount of karma(points).</p>

      <p>Really good decisions will result in getting lots of karma. Really
      bad decisions will result in losing karma. Neutral decisions will
      net zero karma.</p>

      <p>You can try to get as much karma as possible or lose as much
      karma as possible. We're not here to judge. Acutally we are, at
      end of the game we are definitely going to judge you. Whether we
      have nice things to say or not, is up to you.</p>

     <a href="">Play</a>
  </div>

</body>
</html>
